.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.contract-link {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  height: 50px;
  font-weight: bold;
  font-size: large;
}
.waves {
  background-color: OldLace;
  margin-top: 16px;
  padding: 8px;
}

hr.dashed {
  margin-top: 15px;
  border-top: 3px dashed #bbb;
}

input {
  display: block;
  width: 95%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: #99a3ba;
  border: 1px solid #cdd9ed;
  background: #fff;
  transition: border 0.3s ease;
}

.count {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}

.input {
  text-align: center;
  color: gray;
  margin-top: 16px;
}
